{% extends 'base.html' %} 
{% load static %}

{% block content %}
<section class="cat-container">
  <div class="destination-details">
    <h1>{{ destination.name }}, {{ destination.country }}</h1>
    <p>{{ destination.description }}</p>
  </div>
  <div>
    <a href="{% url 'destination-update' destination.id %}" class="btn warn">Edit</a>
    <a href="{% url 'destination-delete' destination.id %}" class="btn danger">Delete</a>
  </div>

  <table>
    <h1>Activities</h1>
    <thead>
      <tr>
        <h3>Activity List</h3>
        <th>Activity Name</th>
        <th>Description</th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {% for activity in destination.activity_set.all %}
        <tr>
          <td>{{activity.name}}</td>
          <td>{{activity.description}}</td>
          <td>
            <a href="{% url 'activity-delete' activity.id %}">Remove Activity</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <h3>Add an Activity</h3>
    <form action="{% url 'add-activity' destination.id %}"
    method="post" class="subsection-content" autocomplete="off">
      {% csrf_token %} 
      {{ activity_form.as_p }}
      <button type="submit" class="btn submit">Add Activity</button>
    </form>
  </div>
</section>
{% endblock %}